/.DS_Store
/.ipynb_checkpoints
/.venv
/07_01_DerivativePricing.ipynb
/07_01_DerivativePricing_blank.ipynb
/1_伊藤彰麻.ipynb
/1_伊藤彰麻.pdf
/231201_第1回量子ソフトウェア勉強会レポート.docx
/231201_第1回量子ソフトウェア勉強会レポート.pdf
/231208_第2回量子ソフトウェア勉強会レポート.docx
/2_伊藤彰麻.ipynb
/2_伊藤彰麻.pdf
/3_伊藤彰麻.ipynb
/3_伊藤彰麻.pdf
/4_伊藤彰麻.ipynb
/4_伊藤彰麻.pdf
/5_伊藤彰麻.ipynb
/5_伊藤彰麻.pdf
/A.csv
/A.npy
/Adder.py
/ConstSetter.py
/Solving_a_system_linear_of_equation.ipynb
/Subtracter.py
/__pycache__
/b.npy
/fig1.png
/lambda_l_C_200_x_200_rank_3_Nsamples_50.out
/poetry.lock
/pyproject.toml
/quantum_inspired.py
/sigma_l_C_200_x_200_rank_3.out
/test.png
/test変更前.png
/timing_C_200_x_200_Nsamples_50_rank_3_NcompX_50.out
/u_l_0.npy
/u_l_1.npy
/u_l_2.npy
/utility.py
/v_l_0.npy
/v_l_1.npy
/v_l_2.npy
/x_vector_C_200_x_200_rank_3_Nsamples_50.out
/~$1201_第1回量子ソフトウェア勉強会レポート.docx
/データ構造SQ.ipynb